<div class="new-split-component">
  <app-selector
    [excercises]="excercises"
    (emitChecking)="handleSet($event)"
  >
  </app-selector>
  <md-input-container>
    <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
    <button mdSuffix [mdDatepickerToggle]="picker"></button>
  </md-input-container>
  <md-datepicker #picker (selectedChanged)="setTime($event)"></md-datepicker>
  <app-chips></app-chips>
  <div [formGroup]="splitForm">
    <button (click)="addSplit()" md-raised-button color="accent" class="fullwidth">Add split to diary</button>
    <div formArrayName="excercisesArray" class="form-container-flex">
      <form
        *ngFor="let excercise of excercisesArray.controls; let i=index"
        [formGroupName]="i" class="form-flex"
        novalidate
      >
        <h3>{{excercise.value.title}}</h3>
        <md-slider
          class="fullwidth" #weight formControlName="weight" min="0" max="200"
          step="1" value="0" name="weight">
        </md-slider>
        <label for="weight">weight: {{weight.value}} kg</label>
        <md-slider
          class="fullwidth" #times formControlName="times" min="0" max="50"
          step="1" value="0" name="times">
        </md-slider>
        <label for="times">times: {{times.value}}</label>
        <button
          type="button" (click)="addSetToService(i)" md-mini-fab
          color="primary" [disabled]="!times.value || !weight.value"
        >
          <i class="material-icons md-18">add</i>
        </button>
      </form>
    </div>
  </div>
</div>
