<md-card class="splits-item">
  <md-card-title (click)="toggleOpen()" class="split-title">{{split.date}}</md-card-title>
  <md-card-content *ngIf="isOpen">
    <ul>
      <ol *ngFor="let e of split.excercises">
        <li>
          {{e.name}}:
          <md-chip-list>
            <md-chip *ngFor="let set of e.sets">
              {{set}}
            </md-chip>
          </md-chip-list>
        </li>
      </ol>
    </ul>
    <app-rater [rate]="rate" [id]="split.id" (newRate)="updateRate($event)"></app-rater>
    <button class="remove-button" (click)="onRemove()" type="button" md-button color="warn">remove split</button>
  </md-card-content>
</md-card>
